[Desktop Entry]
Encoding=UTF-8
Name=MMOCoin (testnet)
Comment=Desktop allet for MMOCoin Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung MMOCoin (testnet)
Exec=mmocoin-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/mmocoin-testnet128.png
MimeType=x-scheme-handler/mmocoin;
Categories=Application;Network;
