[Desktop Entry]
Encoding=UTF-8
Name=MMOCoin
Comment=Desktop allet for MMOCoin Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung MMOCoin
Exec=mmocoin-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/mmocoin128.png
MimeType=x-scheme-handler/mmocoin;
Categories=Office;Finance;
StartupWMClass=MMOCoin-qt
